<h1 class='center'>All Movies</h1>
<hr />
<br />
<br />

<center><%= link_to 'Add Movie To List', new_movie_path, class: 'btn green lighten-2' %></center>
<br />
<br />


<div class='row'>
  <div class='col s4 offset-s4'>
    <% if @movies.present? %>
      <%= render @movies %>
    <% else %>
      <p>There are no movies containing the term(s) <%= params[:search] %>.</p>
    <% end %>
    <%= form_tag(movies_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Movies", id: 'moviecard' %>
    <%= submit_tag "Search", class: 'btn grey darken-2' %>   <%= link_to 'Show All', root_path, class: 'btn brown lighten-2'%>
    <% end %>
  </div>
</div>
<br />
<br />
 
 <!-- HAD TO DO SOME MAJOR JERRY-RIGGING ON THE CARD STRUCTURE, Remember for future to handle vertical sizing this way -->
 <!-- Remove 'card-content' to after the card-title, place size on 'card [medium, small, large]', add 'row center' to card title, go into negative margin on 'card-title'-->

<div class="row">
  <% @movies.each do |m| %>
  <div class="col s12 m4">
    <div class="card medium light-blue darken-3">
      <div class="black-text">
        <span class="row center card-title"><h4 style='margin-bottom:-50px;'><%= m.title %></h4></span>
        <ul class='card-content'>
          <li><h6 class='white-text'>Genre:</h6>
            <p><%= m.genre %></p></li>
          <li><h6 class='white-text'>Actors/Actresses</h6>
            <p><%= m.actors %></p></li>
        </ul>
      </div>
      <div class="card-action">
        <%= link_to 'Edit', edit_movie_path(m), class: 'btn green' %>
        <%= link_to 'Delete', movie_path(m), method: :delete, class: 'btn red' %>
      </div>
    </div>
  </div>
  <% end %>
</div>